<?xml version="1.0" encoding="UTF-8"?>
<!-- Este archivo XML contiene la configuración del formato de fechas y estructura de como grabar el -->
<!-- log cuando ejecutemos nuestros casos de prueba.-->
<Configuration status="ERROR">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c:%L - %m%n"/>
        </Console>
        <RollingFile
                name="ROLLINGFILE"
                fileName="logs/application.log"
                filePattern="logs/$${date:yyyy-MM-dd}/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
<!--    Modificar el valor de name por la ruta al paquete donde se encuentran tus java classes de prueba-->
<!--    Usualmente el primer paquete dentro de src/test/java-->
        <Logger name="com.old" level="debug" additivity="true">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="ROLLINGFILE"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
